.contenedorproductos {
    display: grid;
    grid-template-columns: 1fr; /* Esto asegura una sola columna que ocupa todo el ancho */
    grid-auto-rows: 150px; /* Altura fija para cada fila */
    gap: 20px; /* Espacio entre filas */
    padding: 20px;

    height: auto;
}

.producto {
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    gap: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    color: rgb(55, 45, 39);
    background-color: rgba(240, 234, 210, 0.9);
}



.producto-imagen {
    width: 80px; /* Ancho fijo para uniformidad */
    height: 100px; /* Altura fija para mantener el mismo tamaño */
    object-fit: cover; /* Recorta la imagen para ajustarse a las dimensiones */
    margin: 20px ;
    background-color: rgba(0, 0, 0, 0);


}

.producto-nombre {
    font-size: 1.2em;
    margin: 10px 0;

}

.producto-precio {
    font-size: 1.1em;
    color: #333;
    margin: 5px 0; /* Ajustar el margen para dar espacio */
}

.botones {
    display: flex;
    justify-content: space-between; /* Distribuye los botones en los extremos */
    margin-top: 10px; /* Espacio superior para separar de la sección anterior */
    padding: 0 10px; /* Agrega un padding horizontal para acercar los botones */
    margin-left: -30px;
}
.btn {
    background-color: transparent; /* Fondo transparente para el botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}


.icono-img {
    width: 24px; /* Ajusta el tamaño del icono */
    height: 24px;
}

.btn:hover .icono-img {
    opacity: 0.8; /* Efecto al pasar el mouse sobre el ícono */
}


/* Estilos generales (para pantallas más pequeñas) */
.contenedorproductos {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    grid-auto-rows: 150px;
    gap: 20px;
    padding: 20px;
    height: auto;
}

