.slider {
    grid-column: 1 / 6; /* Ocupa solo de la columna 1 a la 3 */
    grid-row: 3 / 4;    /* Se mantiene la fila 3 */
    position: relative;
    overflow: hidden;
}




.slides {


    display: flex;
    transition: transform 0.5s ease-in-out;

   

}

.slide {

    


    width: 100vw; /* Cada slide ocupará el ancho completo de la ventana */
    height: 100vh; /* Cada slide ocupará la altura completa de la ventana */
    display: flex;
    flex-direction: row; /* Alineamos los elementos en fila (imagen y párrafo uno al lado del otro) */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    font-size: 3rem;
    background-color: rgba(108, 88, 76, 0.6);
    backdrop-filter: blur(3px);
    padding: 20px;
}

.slide img {
    width: 280px; /* Ajustamos el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* La imagen no debe exceder su contenedor */
    margin-right: 20px; /* Espacio entre la imagen y el párrafo */

    margin-top: -26pc;
}

.slide p {


    font-family: 'Segoe UI', sans-serif;
    color: rgb(240,234,210);
    margin-top: -26pc;
    font-size: 25px; /* Ajustamos el tamaño de la fuente */
    line-height: 1.6; /* Espaciado entre las líneas del texto */
    max-width: 600px; /* Limita el ancho del párrafo */


    padding: 10px; /* Añadimos espacio interno alrededor del texto */
    border-radius: 10px; /* Bordes redondeados opcionales */
        text-shadow: 
      0px 0px 15px rgba(240, 234, 210, 0.541);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0,0);
    border: none;

    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}


.prev img, .next img{
    width: 45px;
}


.prev {
    left: 10px;
}

.next {
    right: 10px;
}
