/* Contenedor del submenú */
/* Contenedor del submenú */
.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 234, 210); /* Fondo solo para el contenedor */
    color: rgb(55, 45, 39);
    box-shadow: 0px 0px 50px rgb(55, 45, 39);/* Sombra para el contenedor */

   
    border: 2px solid rgba(108, 88, 76);

    border-radius: 5px; /* Bordes redondeados solo en el contenedor */
    z-index: 1;

    margin-left: -3px;
}

/* Botones dentro del submenú */
.submenu button {
    width: 100%; /* Mantener el ancho completo dentro del contenedor */
    background: transparent; /* Fondo transparente para los botones */
    color: inherit; /* Heredar el color del contenedor */
    border: none; /* Sin bordes propios */
    margin: 5px 0; /* Espaciado vertical entre botones */
    padding: 10px; /* Mantener el espacio interno de cada botón */
    border-radius: 5px; /* Bordes redondeados en los botones */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Agregar cursor de mano */

    border-radius: 5px;
}

/* Efecto al pasar el cursor sobre los botones */
.submenu button:hover {
    background-color: rgba(108, 88, 76, 0.1); /* Fondo suave al hacer hover */
}
